<h1>Hello handlebars</h1>
<p>O nome do usuário é {{user.name}} {{user.surname}}. Isso é um {{palavra}}.</p>
{{#if auth}}
    <p>Você está autenticado. Clique <a href="/dashboard">aqui</a>  para acessar a área de membros.</p>
    {{else}}
    <p>Você não está autenticado.</p>
{{/if}}
