body {
    text-align: justify;
    font-family: sans-serif;
    font-size: 12px;
    background-color: lightgray;
    padding: 20px;
}

footer {
    font-size: 10px;
}

h1 {
    color: cadetblue;
}

h2 {
    color: crimson;
}

p {
    color: darkblue;
}

.pricing {
    font-size: 20px;
}