<h1>Livros disponíveis:</h1>
<div class="books-container">
    {{#each books}}
       <div>
          <p>
              #{{this.id}} - <a href="/books/{{this.id}}"><span class="bold">{{this.title}}</span></a> - {{this.pages}} páginas
          </p> 
       </div>
    {{/each}}
</div>